<h1>
  {{title}}
</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label >First Name</label>
    <input type="text" id="firstName" placeholder="Kashvi" formControlName="firstName">
    <span *ngIf="firstName && firstName.invalid && firstName.touched">First Name is required <br></span>
  </div>
  <div class="form-group">
    <label >Last Name</label>
    <input type="text" id="lastName" placeholder="Singhal" formControlName="lastName">
    <span *ngIf="lastName && lastName.invalid && lastName.touched">Last Name is required</span>
  </div>
  <div class="form-group">
    <label >Username</label>
    <input type="text" id="username" placeholder="KS_1707" formControlName="username">
    <span *ngIf="username && username.invalid && username.touched && !username.hasError('usernameExists')">Username is required and must be of length 6</span>
    <span *ngIf="username && username.hasError('minLength')">Username must be of length 6</span>
    <br>
    <span *ngIf="username && username.hasError('usernameExists')">Username already exists</span>
  </div>
  <div class="form-group">
    <label >Password</label>
    <input type="password" id="password" placeholder="Enter password" formControlName="password">
    <span *ngIf="password && password.invalid && password.touched">Password is required and must be an alphanumeric of length 8</span>
    <span *ngIf="password && password.hasError('pattern')">Password must be an alphanumeric</span>
    <span *ngIf="password && password.hasError('minLength')">Password must be of length 8</span>
    <span *ngIf="password && password.hasError('passwordMismatch')">Passwords do not match</span>
  </div>
  <div class="form-group">
    <label >Confirm Password</label>
    <input type="password" id="confirmPassword" placeholder="Re-enter password" formControlName="confirmPassword">
    <span *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched">Passwords do not match</span>
  </div>
  <div class="form-group">
    <label >Date of Birth</label>
    <input type="date" id="dob" placeholder="2005-07-17" formControlName="dob">
    <span *ngIf="dob && dob.invalid && dob.touched">Date of Birth is required</span>
  </div>
  <div class="form-group">
    <label>Gender</label>
    <div>
      <label class="radio-inline">
        <input type="radio" value="Male" formControlName="gender"> Male
      </label>
      <label class="radio-inline">
        <input type="radio" value="Female" formControlName="gender"> Female
      </label>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
    <button type="button" class="btn btn-secondary" routerLink="/list-user">Back</button>
    <button type="button" class="btn btn-danger" (click)="populate()">Populate Data</button>
  </div>
</form>
