<header>
  Welcome to User Portal !
</header>
<h1> {{title}} </h1>

 <div>
  <table class="table table-bordered table-hover">
    <thead>
        <th> S. No</th>
        <th *ngFor="let header of ColList">{{header}}</th>
        <th> Edit </th>
        <th> Delete </th>
    </thead>
      <tr *ngFor="let user of users; let sr = index">
        <td>{{sr+1}}</td>
        <td>{{user.firstName + " " +  user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.dob}}</td>
        <td>{{getGenderIcon(user.gender)}}</td>
        <td>
          <button class="btn btn-primary" (click)="edit(sr)">
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(sr)">
            Delete
          </button>
        </td>
      </tr>
  </table>
</div>

<footer>
  Angular assignment 2024
</footer>
